@import '../../styles/variables';

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  background: $uds-red-dark; 
  color: #fff;
  font-family: $font-euclid-medium;
  font-weight: 500;
  border-radius: 4px;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
      letter-spacing: 0px;
    cursor: pointer;
    font-size: 14px;
  font-size: 16px;
transition: all 0.3s ease;
  &:hover {
    transform: translateY(-2px);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  }


   @media (max-width: 1080px){
    display: none;
  }
}

