@import '../../styles/variables';

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  background: $uds-red-dark; /* #F2352A */
  color: #fff;
  font-family: $font-euclid-medium;
  font-weight: $weight-bold;
  border-radius: 8px;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  // transition: transform 0.18s ease, filter 0.18s ease;
  font-size: 16px;
transition: all 0.3s ease;
  &:hover {
    transform: translateY(-2px);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  }
}

