@import '../../styles/variables';

.rating {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: $font-roboto-regular;
  font-size: 14px;
  color: $uds-text-dark;

  @media (max-width: 1080px){
    margin-top: 10px;
  }
   @media (max-width: 480px){
    margin-top: 7px;
  }
}

.stars {
  display: flex;
  gap: 4px;
  align-items: center;
}

.starSvg {
  width: 16px;
  height: 16px;
  display: block;
  fill: #FFD24D; 
}

.value {
  color: $uds-text-dark;
  font-size: 14px;
  margin-bottom: 3px;
}
