/* fonts.scss */
@font-face {
  font-family: "Euclid Flex";
  src: url('../assets/fonts/EuclidFlex-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Euclid Flex";
  src: url('../assets/fonts/EuclidFlex-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url('../assets/fonts/Roboto-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-light";
  src: url('../assets/fonts/Roboto-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
