@import './variables';
@import './fonts';

body {
  margin: 0;
  padding: 0;
  font-family: $font-euclid-medium;
  font-weight: $weight-medium;
  background: #ffffff;
  color: $uds-text-dark;
}


  .uds-container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 24px;
  display: grid;
  grid-template-columns: repeat(3, 420px); 
  grid-auto-rows: auto;
  gap: 24px 18px;
  justify-content: center;
}

.uds-cards-grid {
  display: grid;
  grid-template-columns: repeat(3, 420px); 
  justify-content: center;
  gap: 30px;
  padding: 40px 0;

  
  @media (max-width: 1000px) {
    grid-template-columns: 1fr;
  }

  
  @media (max-width: 600px) {
    grid-template-columns: 1fr;
  }
}




