// src/styles/variables.scss
$font-euclid-medium: "Euclid Flex";
$font-euclid-bold: "Euclid Flex";
$font-roboto-regular: "Roboto";

$weight-medium: 500;
$weight-bold: 700;
$weight-regular: 400;

// цвета и размеры тоже можно тут держать
$uds-text-dark: #131921;
$uds-text-grey: #898C90;
$uds-red-dark: #F2352A;
$uds-radius: 4px;
